<h1>MakersBnB</h1>


<form action='/users/new' method='get'>
  <input type="submit" value="Create Account">
</form>

<% if @user %>
  <h2> Welcome, <%= @user.first_name %> </h2>
<% end %>

<% @properties.each do |property| %>

  <%= property.description%> %>
  <br> 
  <br> 
  <%= property.contact %>
  <br> 
  <br>
  <img src="<%= property.picture_url %>" />
  <a href="<%= property.picture_url %>" />

<% end %>

<br>
<br>

<form action="/properties/new" method="get">
  <input type='submit' value='List your property'>
</form>
