<h1>MakersBnB</h1>

<% if @user %>
  <h2> Welcome, <%= @user.first_name %> </h2>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>

<form action='/users/new' method='get'>
  <input type="submit" value="Create Account">
</form>



<% @properties.each do |property| %>

  <%= property.description%> %>
  <br> 
  <br> 
  <%= property.contact %>
  <br> 
  <br>
  <img src="<%= property.picture_url %>" />
  <a href="<%= property.picture_url %>" />

<% end %>

<br>
<br>

<form action="/properties/new" method="get">
  <input type='submit' value='List your property'>
</form>
