<h1>MakersBnB</h1>

<% if @user %>
  <h2> Welcome, <%= @user.first_name %> </h2>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
  <% end %>

<h2>
  <%= flash[:notice] %>
</h2>
  
<form action="/sessions/new" method="get">
  <input type='submit' value='Sign in' />
</form>


<form action='/users/new' method='get'>
  <input type="submit" value="Create Account">
</form>



<% @properties.each do |property| %>

  <%= property.description%>
  <br> 
  <br> 
  <%= property.contact %>
  <br> 
  <br>
  <a href='/properties/<%= property.id %>' ><img src="<%= property.picture_url %>" /></a>
  <a href="<%= property.picture_url %>" />

<% end %>

<br>
<br>

<form action="/properties/new" method="get">
  <input type='submit' value='List your property'>
</form>
