<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='widht=devide-width,initial-scale=1'>
    <title>MakersBnB</title>
    <link href='/styles.css' rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div>
        <a href='/properties'><img src="/MakersBnB_full.png" id='logo'/></a>
      </div>
      <div class='header_buttons'>
        <form action="/sessions/destroy" method="post">
          <input class='header_button' type="submit" value="Sign out" />
        </form>
        <form action="/properties/new" method="get">
          <input class='header_button' type='submit' value='List your property'>
        </form>
      </div>
    </header>

    <main>
      <h1>We make-a the bed, we make-a the breakfast 🤌</h1>
      <h2>
        <%= flash[:notice] %>
      </h2>
    
      <div class='properties_container'>
        <% @properties.each do |property| %>
          <div class='property_tile'>
            <div class='image_container'>
              <a href='properties/<%= property.id %>'><img src="<%= property.picture_url%>"/></a>
            </div>
            <div class='text_container'>
              <h2><%= property.description%></h2>
              <h2>£<%= property.price_per_night %></h2>
            </div>
          </div>
        <% end %>
      </div>
    </main>
  </body>
</html>