<h1>MakersBnB</h1>

<% if @user %>
  <h2> Welcome, <%= @user.first_name %> </h2>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>

<h2>
  <%= flash[:notice] %>
</h2>
  
<% if !@user %>
<form action="/sessions/new" method="get">
  <input type='submit' value='Sign in' />
</form>
<%end%>

<h2><% @properties.each do |property| %>

  <%= property.description%>
  <br> 
  <br> 
  <%= property.contact %>
  <br> 
  <br>
  <%= property.price_per_night %>
  <br> 
  <br>
  <img src="<%= property.picture_url %>" />
  <br> 
  <br>
<% end %></h2>

<br>
<br>

<% if !@user %>
<form action="/sessions/new" method="get">
<input type='submit' value='List your property'>
</form>
<% else %>
<form action="/properties/new" method="get">
  <input type='submit' value='List your property'>
</form>
<%end%>
